html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.2em;
}

html,body,#container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


button:focus {
  outline: none;
}

.mode-selector {
  flex: 0 0 auto;
  display: flex;
  padding-top: 5px;
}

.mode-selector button {
  flex: 1;
  margin: 0 2.5px;
}

.mode-selector button.active {
  background: grey;
  color: white;
}

.stage-diagram {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

  .stage-diagram .character-selector {
    box-sizing: border-box;
    display: flex;
    overflow-y: scroll;
    max-height: 400px;
    flex-direction: column;}

    .stage-diagram .character-selector .benched-character {
      text-align: center;
      padding: 5px;
      display: inline-block;
      border-radius: 50%;
      background: #ff000088;
      margin: 5px;
      z-index: 10;
      position: relative;
      
      touch-action: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

  .stage-diagram .character {
    min-width: 1em;
    text-align: center;
    background: #ff000088;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .stage-diagram .img-container {
    position: relative;
    display: inline-block;
  }

  .stage-diagram img {
    display: block;
    max-height: 400px;
    max-width: 400px;
    z-index: 0;
    position: relative;
  }

.app {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.script {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.act {
  margin: 0 20px;
}

.line {
  display: flex;
  position: relative;}

  .line .text {
    flex: 2;}

  .line .extras {
    flex: 1;
    text-align: right;}

    .line .extras > * {
      font-style: normal;
      display: inline-block;
      width: 40px;
      height: 1.2em;
      text-align: center;
      cursor: pointer;
      vertical-align: text-top;
    }
    
    .line .extras .blocking-mark {
      border-radius: 50%;
      background-color: red;
      opacity: 0.5;
    }
    
    .line .line-note {
      border: 1px solid #ddd;
      border-radius: 50%;
      background-color: #eee;
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      padding: 0.4em;
    }
    
    .line .line-note.active {
      background-color: orange;
    }
        
    .line .text.light-cue-line {
      background-color: #ffea80;
    }

    .line .text.sound-cue-line {
      background-color: #CC92C2;
    }
    
    .line .text.missed-line {
      background-color: orange;
    }
    
    .line .light-cue:not(.active) {
      visibility: hidden;
    }
    
    .line.active .light-cue:not(.active), .line:hover .light-cue:not(.active) {
      visibility: visible;
    }

    .line .light-cue.active {
      background-color: #ffea80;
      color: black;
    }
    
    .line .sound-cue:not(.active) {
      visibility: hidden;
    }
    
    .line.active .sound-cue:not(.active), .line:hover .sound-cue:not(.active) {
      visibility: visible;
    }

    .line .sound-cue.active {
      background-color: #CC92C2;
      color: black;
    }
    
    .line .dir-note.active {
      border-radius: 50%;
      background-color: #8dff80;
      color: black;
      margin-right: 3px;
    }

    .line span.word-missed {
      background-color: orange;
    }

.title {
  font-size: 150%;
  line-height: 2em;
}

.active {
  background-color: lightblue;
}

.speaking-block .character {
  font-family: monospace;
}

.speaking-block .character::after {
  content: ':';
}

.direction {
  font-style: italic;
}

.modal-container {
  z-index: 100;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  margin: auto auto;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
  max-width: 400px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 0px;
  padding: 5px 20px;
  border: 1px solid #888;
}

.cue-modal {
  display: flex;
  flex-direction: column;
}

.modal-header, .modal-footer {
  display: flex;
}

.modal-header {
  justify-content: space-between;
  padding: 5px 0;
}

.modal-header > .close-button, .modal-header > .cue-type {
  flex: initial;
}

.cue-modal .cue-message {
  display: block;
  width: 99%;
  min-height: 30px;
  outline: none;
  margin: 2px;
  border: 1px solid #ddd;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  right: 5px;
}

.modal-footer > button {
  flex: 1;
}

button.warning {
  background-color: #ffdddd;
}

button.primary {
  background-color: #ddffdd;
}

.note {
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
}

.note select {
    outline: none;
    background: inherit;
    padding: 0;
    margin: 0;
}

.buffer {
  height: calc(100% - 3em);
}

.footer {
  flex: 0 0 auto;
  display: flex;
}
.footer button {
  flex: 1;
  margin: 1px;
}

.modal.email-modal {
  max-width: 600px;
}
.email-modal .character thead th, .email-row td {
  text-align: left;
  padding: 0 10px 0 0;
}


.scene-header {
  font-size: 125%;
}
