html, body {
  margin: 0;
  padding: 0;
}

html,body,#container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.stage-diagram .character-selector {
  padding: 10px;
}

.stage-diagram .character-selector .benched-character {
  padding: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #ff000088;
  margin: 5px;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.stage-diagram {
  text-align: center;
}

.stage-diagram .character {
  background: red;
  color: white;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.stage-diagram .img-container {
  position: relative;
  display: inline-block;
}

.stage-diagram img {
  display: block;
  max-height: 400px;
  max-width: 400px;
}

.diagram {
  width: 100%;
}

.app {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.script {
  height: 100%;
  overflow-y: scroll;
}

.title {
  font-size: 150%;
}

.line.active {
  background-color: lightblue;
}

.line.selected, .line.active.selected {
  background-color: lightyellow;
}

.line .character {
  font-family: monospace;
  display: block;
}

.line .character::after {
  content: ':';
}

.direction {
  font-style: italic;
}
